body {
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 40px;

    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;

    background: #9FB9D8;
}

.intro {
    font-style: italic;
    text-align: center;
}

.textblocks {
    display: inline-block;
    width: 30%;
    vertical-align: text-top;
}

h1 {
    text-align: center;
}

img {
    width: 100px;
    height: auto;

    border: 5px solid #EBC994;
}

hr {
    padding-bottom: 5px;
    border: 0;
    border-top: 3px solid #BFB0EB;
}

footer {
    text-align: center;
    font-size: 10px;
    padding-block: 20px;
}