/* Basic CSS, based on from the the root of this subwebsite, work.greenbueller.com */
/* Text Alignment, and Fonts */
body {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #cfcfcf;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-left: 1.5%;
}

h2 {
    margin-left: 2%;
}

p, li, ol, ul, summary {
    margin-left: 4%;
}

/* Semantic Elements */
summary {
    margin-top: 0.25%;
    margin-bottom: 0.5%;
}

/* The header section */
header {
    background-color: #adabab5d;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

header h1, header p {
    margin-left: 0;
}

/* Supposed to move the image to the right, but it didn't want to work */
figure {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.selfie {
    width: 100%;
    max-width: 300px;
    height: auto;
    float: none;
    display: block;
}

/* Adds an underline to separate work experience from coding experience */
.divider {
    text-decoration: underline;
}